{% extends "base.html" %}
{% load markdown %}
{% block title %}
Rounds
{% endblock %}
{% block main %}
<h1>
	Rounds
</h1>

<h2>Existing Rounds</h2>


{% for round in rounds %}
<h3>Round: {{ round.name }}</h3>
<p>{{ round.description }}</p>
<p>
	{% if round.can_edit %}
	<a href="{% url 'edit_round' round.id %}">Edit/delete round</a> |
	{% endif %}
	<a href="{% url 'view_round' round.id %}">View round</a>
</p>
<hr>

{% endfor %}

{% if can_add %}

<h2>New Round</h2>
<form method="post">
	{% csrf_token %}
	<div class="table-wrap">
	<table class="classic">
	{{ new_round_form.as_table }}
	</table>
	</div>
	<input type="submit" name="new_round" value="Submit new round">
</form>

{% endif %}

{% endblock %}
